{% extends 'base.html' %}
{% load static %}
{% block  content %}
 
    <div class="login-card"><img src="{% static 'images/icons/avatar1.png' %}" class="profile-img-card">
        <p class="profile-name-card"> </p>
        
        <form  method = 'post' class="form-signin">
         {% csrf_token %}
         {{ form.as_p }}
             <span class="reauth-email"> </span>
                {% comment %}<label for="#inputEmail">Email:</label><input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail">
                <label for="#inputPassword">Password:</label><input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" required="" placeholder="Password" id="inputPassword">
                <div class="checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Remember me</label>
                    </div>
                </div> {% endcomment %}
            <div class="layer-slick1 animated " data-appear="zoomIn" data-delay="1600">
				    <button type='submit' class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
				        Login
				    </button>
			    </div>          
        </form>
        <a href="registr.html" class="">Do not you  remember your password?</a>
        <br>
        
        <a href="registr.html" class="">Have not registered yet ?</a></div>

{% endblock  %}